*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(227, 231, 233);
}

:root{
    --clr:#fff;
    --font-header: Comic;
    --font-body-paragraphs:  sans-serif;
    --font-weight:lighter;
    --user-select:none;
}
/*navigation-section*/
.nav-items{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 3, 14);
    opacity:.9;
    height: 60px;
    width: 100%;
    border-radius:0px 0 4px 4px;
    position: fixed;
    z-index: 1;
    margin-top: .01em;
}
.nav-text{ 
color:var(--clr);
font-size: 1.5rem;
position: relative;
top: .7em;
cursor: pointer;
user-select:var(--user-select);
}

.nav-text2{margin-left: .5em;}
.nav-text4{margin-right: .5em;}
.nav-text4:hover{
    text-decoration: underline;
}
.nav-text3:hover{
    text-decoration: underline;
}
.nav-items a{
    text-decoration: none;
}
/*SIDE-MENU*/
.sidebar{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: rgb(13, 13, 31);
    z-index: 2;
    transition: 2s;
}
/*.sidebar header{
    font-size: 22px;
    color: #fff;
    padding-left: 20px;
    line-height: 35px;
    background: #020f14;
    user-select:none;
    cursor: pointer;
}*/
.sidebar ul{
bottom:.1em;
}

.sidebar ul a{
    display: block;
    padding-left: 40px;
    line-height: 50px;
    height: 100%;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: .5s;
}
.sidebar ul li:hover a{
    padding-left: 55px;
}
.hideit{
    display: none;
}
.default-hide{display: none;}

i:hover > .sidebar{
display: block;
}
/*introduction*/
.intro{
    background-color: rgb(10, 10, 22);
    height: 210px; 
    opacity:1;
}
.intro-heading1{
    color: #ffffffe7;
    padding: .8em;
    text-align: center;
    font-family: var(--font-header);
    font-weight: lighter;
    position: relative;
    top: 3em;
    user-select:var(--user-select);
}
.intro-heading2{
    padding: .8em;
    color:#fff;
    text-align: center;
    font-family: var(--font-header);
    font-weight: lighter;
    position: relative;
    top: 2.5em;
}
.news-heading{
    color: #fff;
    padding: .4em;
    background-color: rgb(17, 23, 24);
    text-align: center;
    margin-bottom: .2em;
    border-radius: 4px;
}

/*main body*/
main{
    padding: 2em;
}
.img1{
    max-width: 350px
}
.main-body-text{
    max-width: 380px;
    padding: 8px;
    margin-bottom: 9px;
    border-radius: 8px;
    border: 1px solid rgb(160, 143, 143);
    letter-spacing: 1px;
}
.main-body-text h1{
    margin-bottom: .5em;}
.feeds-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.img1{
    object-fit: cover;
    border-radius: 4px;
}

.card{
    box-shadow: 2px 2px 2px rgb(196, 193, 193);
}
.card:hover{
    box-shadow: 4px 4px 4px rgb(196, 193, 193);
}
body p{
    font-family: var(--font-body-paragraphs);
    font-weight: var(--font-weight);
}
.headings{font-weight: 550;
           font-family:var(--font-body-paragraphs);
}
/*read-more-text*/
#readBtn{
    background-color: rgb(173, 216, 230);
    box-shadow: none;
}
#more{display: none;}
.ReadBtn{
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 2px;
    color: lightslategrey;
        }
/*footer*/
footer{
    background-color:rgb(150, 150, 163);
}
.follow-us-text{
    font-weight: bolder;
    padding-left: 20px;
    font-family: var(--font-header);
    user-select: var(--user-select);
    color: #fff;
}
footer div ul li{
    list-style: none;
    display: inline-flex;
    padding: .5em;
    position: relative;
    left: 22%;
}
#copyright{
    text-align: center;
    padding: .4em;
    font-weight: bolder;
    user-select:var(--user-select);
    font-family: var(--font-header);
    color:#fff;
}
/*Manipulating styles with JS on ShowMore-ShowLess button*/
.hide-dots{
    display:none;
}
