*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(227, 231, 233);
}

:root{
    --clr:#fff;
    --font-header: Comic;
    --font-body-paragraphs:  sans-serif;
    --font-weight:light;
    --user-select:none;
}
/*navigation-section*/
.nav-items{
    display: flex;
    justify-content: space-between;
    /*background-color: rgb(3, 3, 14);*/
    background:#BF0040;
   /* opacity:.9;*/
    height: 60px;
    width: 100%;
    border-radius:0px 0 4px 4px;
    position: fixed;
    z-index: 1;
    margin-top: .01em;
}
.nav-text{ 
color:var(--clr);
font-size: 1.5rem;
position: relative;
top: .7em;
cursor: pointer;
user-select:var(--user-select);
}

.nav-text2{margin-left: .5em;}
.nav-text4{margin-right: .5em;}
.nav-text4:hover{
    text-decoration: underline;
}
.nav-text3:hover{
    text-decoration: underline;
}
.nav-items a{
    text-decoration: none;
}
/*SIDE-MENU*/
.sidebar{
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
   /* background: rgb(3, 3, 14);*/
   background: #BF0040;
    z-index: 2;

}

.sidebar ul a{
    display: block;
    padding-left: 40px;
    line-height: 40px;
    height: 100%;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: .5s;
}
.sidebar ul{
    bottom:.1em;
}
.sidebar ul li{
    padding-top: 2em;
    font-size: 1.2rem;
}
.sidebar ul li:hover a{
    padding-left: 55px;
}
.hideit{
    display: none;
}
.default-hide{display: none;}

i:hover > .sidebar{
display: block;
}
/*introduction*/
.intro{
    /*background-color: rgb(10, 10, 22);*/
    background: #BF0040;
    height: 210px; 
    opacity:1;
}
.intro-heading1{
    color: #ffffffe7;
    padding: .8em;
    text-align: center;
    font-family: var(--font-header);
    font-weight: lighter;
    position: relative;
    top: 3em;
    user-select:var(--user-select);
}
.intro-heading2{
    padding: .8em;
    color:#fff;
    text-align: center;
    font-family: var(--font-header);
    font-weight: lighter;
    position: relative;
    top: 2.5em;
}
.news-heading{
    display: block;
    color: #fff;
    padding: .4em;
    /*background-color: rgb(17, 23, 24);*/
    background: #BF0040;
    text-align: center;
    margin-bottom: .2em;
    border-radius: 4px;
}

/*main body*/
main{
    padding: 2em;
}
.img1{
    max-width: 350px
}
.main-body-text{
    max-width: 380px;
    padding: 10px;
    margin-bottom: 9px;
    border-radius: 8px;
    border: 1px solid rgb(160, 143, 143);
    letter-spacing: 1px;
}
.main-body-text h1{
    margin-bottom: .5em;}
.feeds-section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.img1{
    object-fit: cover;
    border-radius: 4px;
}

.card{
    box-shadow: 2px 2px 2px rgb(196, 193, 193);
}
.card:hover{
    box-shadow: 4px 4px 4px rgb(196, 193, 193);
}
body p{
    font-family: var(--font-body-paragraphs);
    font-weight: var(--font-weight);
    line-height: 1.5em;
}
.headings{font-weight: 550;
           font-family:var(--font-body-paragraphs);
}
/*read-more-text*/
#readBtn{
    background-color: rgb(173, 216, 230);
    border:none;
    padding: .1em;
}
.hide{display: none;}
.ReadBtn{
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 2px;
    color: lightslategrey;
        }
/*footer*/
footer{
    /*background-color:rgb(150, 150, 163);*/
    background: #BF0040;
}
.follow-us-text{
    font-weight: bolder;
    padding-left: 20px;
    font-family: var(--font-header);
    user-select: var(--user-select);
    color: #fff;
}
footer div ul li{
    list-style: none;
    display: inline-flex;
    padding: .5em;
    position: relative;
    left: 22%;
}
/*
.about-footer{
    width: calc(100% + 100px);
}*/
#copyright{
    text-align: center;
    padding: .4em;
    font-weight: bolder;
    user-select:var(--user-select);
    font-family: var(--font-header);
    color:#fff;
}

/*ABOUT SECTION*/
.about-main{
    padding-top: 5em;
}
.website-name{
    color: #DC143C;
    font-weight: bold;
}
.contact-section{
display: flex;
flex-direction: column;
align-items: center;
background-color: #000000;
border-radius: 4px;
/*width: calc( 100% + 50px);*/
}
.about-section{
    text-align: center;
}
.about-section div p{
    line-height: 1.5em;
}
.about-section-title{
    text-align: center;
    padding: .5em;
    padding-bottom: 1em;
    display: block;
    border-bottom: 1px solid rgb(194, 189, 189);
}
.contact-card{
    border: 1px solid rgb(34, 33, 33);
    padding: .5em;
    margin-bottom: .5em;
    /*background-color: rgb(110, 103, 103);*/
    background: #000000;
    max-width: 250px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #131212;
    border-radius: 8px;
}
.contact-card:hover{
    box-shadow: 4px 4px 4px #131212;;
}
.contact-card ul{
    background-color: rgb(87, 82, 82);
    border-radius: 8px;
}
.author-social-list{
    position: relative;
    top: .4em;
}
.developer-social-list{
    position: relative;
    top: .4em;
}
.contact-card ul li{
    display: inline-flex;
    list-style: none;
    padding: .1em;
    margin-left: 10%;
}
.img-container{
    text-align: center;
}
.contact-img1{
object-fit: cover;
border-radius: 50%
}
.contact-img2{
    object-fit: cover;
    border-radius: 50%;
}
.contact-name, .staff-role-name{
    text-align: center;
}
.contact-name,.staff-role-name{
color: #fff;
}
